---
import Nav from '../components/layout/Nav.astro'
import NavItem from '../components/layout/NavItem.astro';
import NavLink from '../components/layout/NavLink.astro';
import { PackageCheck, Delete, Download, CircleDot, GitPullRequest, TrendingUp, MonitorDown, RouteOff } from 'lucide-react'
import { FaHome, FaTerminal, FaBook, FaTags, FaTools, FaFileCode, FaArrowCircleDown, FaSignOutAlt, FaSignInAlt, FaColumns, FaCog, FaTasks, FaFileAlt, FaDesktop, FaDownload } from 'react-icons/fa';

const { class: className } = Astro.props;
const userIsLoggedIn = !!Astro.locals.userId;
---

<aside
  data-nav
  class:list={[
    'fixed left-0 inset-y-0 -translate-x-full [&[open]]:translate-x-0 lg:translate-x-0 w-full lg:w-72 bg-neutral-100/60 backdrop-blur-md pt-16 z-10 transition-transform duration-300 ease-in-out',
    className,
  ]}
>
  <div
    class="w-full h-full mt-6 lg:border-r border-neutral-300/50 px-5 py-4 overflow-y-auto"
  >
    <Nav>
      <br>
      <NavLink href="/" label="Home" icon={FaHome} />
      <NavLink href="/download" label="Get Gitset Desktop" icon={FaArrowCircleDown} />
      <NavLink href="/github-status" label="Github Status" icon={FaTools} />
      <NavItem title="Workspace" open>
        {userIsLoggedIn ? (
          <>
            <NavLink href="/tags-releases" label="Tags & Releases Manager" icon={FaTags} />
            <NavLink href="/gitignore-builder" label="Git Ignore Builder" icon={RouteOff} />
            <NavLink href="/issues-crafter" label="Issues Crafter" icon={CircleDot} />
            <NavLink href="/pull-requests" label="Pull Requests Maker" icon={GitPullRequest} />
            <NavLink href="/readme-generator" label="Craft a README.md" icon={FaBook} />
            <NavLink href="/commit-messages" label="Commit Messages Generator" icon={FaTerminal} />
            <NavLink href="/code-decommenter" label="Code Decommenter" icon={Delete} />
            <NavLink href="/dependencies-handler" label="Dependencies Handler" icon={PackageCheck} />
          </>
        ) : (
            <NavLink href="/tags-releases" label="Tags & Releases Manager" icon={FaTags} />
            <NavLink href="/gitignore-builder" label="Git Ignore Builder" icon={RouteOff} />
            <NavLink href="/issues-crafter" label="Issues Crafter" icon={CircleDot} />
            <NavLink href="/pull-requests" label="Pull Requests Maker" icon={GitPullRequest} />
            <NavLink href="/readme-generator" label="Craft a README.md" icon={FaBook} />
            <NavLink href="/commit-messages" label="Commit Messages Generator" icon={FaTerminal} />
            <NavLink href="/code-decommenter" label="Code Decommenter" icon={Delete} />
            <NavLink href="/dependencies-handler" label="Dependencies Handler" icon={PackageCheck} />
      </NavItem>
      <NavItem title="Account" open>
        {userIsLoggedIn ? (
          <>
            <NavLink href="/dashboard" label="Dashboard" icon={FaColumns} />
            <NavLink href="/settings" label="Account Settings" icon={FaCog} />
            <NavLink href="/logout" label="Logout" icon={FaSignOutAlt} />
          </>
        ) : (
          <NavLink href="/login" label="Login" icon={FaSignInAlt} />
        )}
      </NavItem>
    </Nav>
  </div>
</aside>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    if (navigator.userAgent.indexOf('Electron') !== -1) {
      const downloadLink = document.querySelector("[href='/download']");
      if (downloadLink) {
        (downloadLink as HTMLElement).style.display = 'none';
      }
    }
  });
</script>